{% block content %}
<div>
    <h2>Results</h2>

    {% for m in data.items %}
        <div class="panel panel-default">
            <div class="panel-heading"><b>{{ m.title }}</b></div>
            <div class="panel-body">
                <div class="col-md-11">
                    <p>
                        {% for g in m.genres %}
                            <span class="label label-default">{{ g.genre }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {% for t in m.tags %}
                            <span class="label label-default">{{ t.tag }}</span>
                        {% endfor %}
                    </p>
                </div>
                <div class="col-md-1">
                    <!--a href="https://movielens.org/movies/{{m.links[0].movie_id}}">
                        <img src="https://th.bing.com/th?id=ODLS.872d2baf-7095-409f-9e3f-e7bf5c878a64&w=32&h=32&qlt=90&pcl=fffffa&o=6&pid=1.2" width="50%" height="50%" alt="MovieLens">
                    </a-->
                    <a href="http://www.imdb.com/title/tt{{m.links[0].imdb}}">
                        <img src="https://img.icons8.com/color/48/000000/imdb.png" width="50%" height="50%" alt="IMDB">
                    </a>
                    <a href="https://www.themoviedb.org/movie/{{m.links[0].tmdb}}">
                        <img src="https://img.icons8.com/?size=96&id=AxHFXpfUuWsm&format=png" width="50%" height="50%" alt="TMDB">
                    </a>
                </div>
            </div>

            <div class="panel-footer" id="half-stars">
                <div class="rating-group" value="{{ m|get_rating() }}" name="rating{{ m.id }}">
                    <input class="rating__input rating__input--none" name="rating{{ m.id }}" id="rating{{ m.id }}-0" value="0.0" type="radio" data-movieid="{{m.id}}" checked>
                    <label aria-label="0 stars" class="rating__label" for="rating{{ m.id }}-0">&nbsp;</label>
                    <label aria-label="0.5 stars" class="rating__label rating__label--half" for="rating{{ m.id }}-05"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-05" value="0.5" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="1 star" class="rating__label" for="rating{{ m.id }}-10"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-10" value="1.0" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="1.5 stars" class="rating__label rating__label--half" for="rating{{ m.id }}-15"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-15" value="1.5" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="2 stars" class="rating__label" for="rating{{ m.id }}-20"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-20" value="2.0" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="2.5 stars" class="rating__label rating__label--half" for="rating{{ m.id }}-25"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-25" value="2.5" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="3 stars" class="rating__label" for="rating{{ m.id }}-30"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-30" value="3.0" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="3.5 stars" class="rating__label rating__label--half" for="rating{{ m.id }}-35"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-35" value="3.5" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="4 stars" class="rating__label" for="rating{{ m.id }}-40"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-40" value="4.0" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="4.5 stars" class="rating__label rating__label--half" for="rating{{ m.id }}-45"><i class="rating__icon rating__icon--star fa fa-star-half"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-45" value="4.5" type="radio" data-movieid="{{m.id}}">
                    <label aria-label="5 stars" class="rating__label" for="rating{{ m.id }}-50"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                    <input class="rating__input" name="rating{{ m.id }}" id="rating{{ m.id }}-50" value="5.0" type="radio" data-movieid="{{m.id}}">
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="text-center">
        <div class="pagination">
            {% if data.has_prev %}
                <a href="?page=1">&laquo;&laquo;</a>
                <a href="?page={{ data.prev_num }}">&laquo;</a>
            {% else %}
                <a href="">&laquo;&laquo;</a>
                <a href="">&laquo;</a>
            {% endif %}
    
            {% for page_num in data.iter_pages(left_edge=0, left_current=2, right_current=2, right_edge=0) %}
                {% if page_num %}
                    {% if page_num == data.page %}
                        <a class="active" href="?page={{ page_num }}">{{ page_num }}</a>
                    {% else %}
                        <a href="?page={{ page_num }}">{{ page_num }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
    
            {% if data.has_next %}
                <a href="?page={{ data.next_num }}">&raquo;</a>
                <a href="?page={{ data.pages }}">&raquo;&raquo;</a>
            {% else %}
                <a href="">&raquo;</a>
                <a href="">&raquo;&raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}